Homrwork07/Homework07.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="transaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="auto">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="desc" type="xs:string" />
              <xs:element name="value" type="xs:decimal" />
              <xs:element name="serial" type="xs:string" />
              <xs:element name="availability" type="xs:string" />
              <xs:element name="contact">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string" />
                    <xs:element name="phone" type="xs:string" />
                    <xs:element name="email" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="furniture">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="desc" type="xs:string" />
              <xs:element name="value" type="xs:decimal" />
              <xs:element name="availability" type="xs:string" />
              <xs:element name="contact">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string" />
                    <xs:element name="phone" type="xs:string" />
                    <xs:element name="email" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="book">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="desc" type="xs:string" />
              <xs:element name="value" type="xs:decimal" />
              <xs:element name="serial" type="xs:string" />
              <xs:element name="availability" type="xs:string" />
              <xs:element name="contact">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string" />
                    <xs:element name="phone" type="xs:string" />
                    <xs:element name="email" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="computer">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="desc" type="xs:string" />
              <xs:element name="value" type="xs:decimal" />
              <xs:element name="serial" type="xs:string" />
              <xs:element name="availability" type="xs:string" />
              <xs:element name="contact">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string" />
                    <xs:element name="phone" type="xs:string" />
                    <xs:element name="email" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>