Homework07/Sameple.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="organizations">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="School" type="xs:string" />
        <xs:element maxOccurs="unbounded" name="Club">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" type="xs:string" />
              <xs:element name="Membership" type="xs:unsignedShort" />
              <xs:element name="Dues" type="xs:decimal" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="number" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>